@import url("//cdn.web-fonts.ge/fonts/bpg-algeti/css/bpg-algeti.min.css");

html * {
  max-height: 999999px;
  font-family: "BPG Algeti", sans-serif;


}


.form-control {
    padding: 1px 37px;
}


.learn-more {
  border: 1px solid yellow;
  background: #ffff002b !important;
  position: relative;
}

.container {
  padding-top: 15px;
}